{
	"semi": false,
	"useTabs": true,
	"quoteProps": "consistent",
	"experimentalTernaries": true,
	"objectWrap": "collapse",
	"plugins": ["prettier-plugin-jsdoc", "prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./src/styles/index.css"
}
