@utility menu-panel {
	@apply flex translate-y-1 flex-col gap-1 overflow-y-auto panel bg-gray-900 p-1 opacity-0 shadow-lg shadow-black/25 transition data-enter:translate-y-0 data-enter:opacity-100;
	--max-length: var(--popover-overflow-padding) * 2;
	min-width: 180px;
	max-width: calc(100vw - var(--max-length));
	max-height: calc(max(--spacing(80), 100vh - var(--max-length)));
}

@utility menu-item {
	@apply flex shrink-0 cursor-default items-center gap-2 rounded-xs px-3 py-2 transition hover:bg-primary-800/25 data-focus-visible:bg-primary-800/25;
}
